<div id="footer" data-role="footer">

    <ul>
        <li><a href="/info/customer_service">Customer Service</a> | <a href="/info/faq#returns">Return Policy</a> | <a href="/info/about_us">About</a> | <a href="/info/faq">FAQ</a></li>
        <li><a href="/info/terms_and_conditions">Terms &amp; Conditions</a> | <a href="/info/privacy_policy">Privacy Policy</a></li>
        <li>
            <a class="icn-facebook" href="http://facebook.com/nomorerack" target="_blank" title="Facebook">Facebook</a> |
            <a class="icn-twitter" href="http://twitter.com/nomorerack" target="_blank" title="Twitter">Twitter</a> |
            <a href="#" class="open-vn-dialog">Share &amp; Earn</a>
        </li>
    </ul>
</div>