<div data-role="panel" data-position="left" data-display="push" id="nav-panel">

    <ul data-role="listview" class="ui-listview-outer">
        <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
            <h2>My Account</h2>
            <ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
                <li><a href="#">Account Info</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">View Credits</a></li>
                <li><a href="#">Manage Addresses</a></li>
            </ul>
        </li>
        <li><a href="/account">Share &amp; Earn</a></li>
        <li><a href="/account">Customer Service</a></li>
        <li><a href="/account">Return Policy</a></li>
        <li><a href="/account">FAQ</a></li>
        <li><a href="/account">Terms &amp; Conditions</a></li>
        <li><a href="/account">Privacy Policy</a></li>
    </ul>
</div>