<div data-role="panel" data-position="left" data-display="push" id="nav-panel">

    <ul data-role="listview" class="ui-listview-outer">
        {% if customer.authenticated == true %}
        <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
            <h2>{{ customer.email_address }}</h2>
            <ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
                <li><a href="#">Account Info</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">View Credits</a></li>
                <li><a href="#">Manage Addresses</a></li>
                <li><a id="logout" class="logout" href="/logout" data-ajax="false">Log Out</a></li>
            </ul>
        </li>
        {% else %}
        <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
            <h2>Login</h2>
            <form method="post" id="sb-login-form" data-ajax="false" action="/login">
                <ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
                    <li><input data-mini="true" type="text" name="email_address" value="" placeholder="Email" /></li>
                    <li><input data-mini="true" type="password" name="password" value="" placeholder="Password" /></li>
                    <li><input data-mini="true" type="submit" value="Login" /></li>
                    <li><input data-mini="true" type="button" class="fb-btn" value="Login with Facebook" data-ajax="false" /></li>
                </ul>
            </form>
        </li>
        <li data-role="collapsible" data-iconpos="right" data-shadow="false" data-corners="false">
            <h2>Create Account</h2>
            <form method="post" id="sb-reg-form" data-ajax="false" action="/register">
                <ul data-role="listview" data-shadow="false" data-inset="true" data-corners="false">
                    <li><input data-mini="true" type="text" name="customer[email_address]" placeholder="Email" /></li>
                    <li><input data-mini="true" type="password" name="customer[password]" value="" placeholder="Password" /></li>
                    <li><input data-mini="true" type="submit" value="Create Account" /></li>
                    <li><input data-mini="true" type="button" name="fbconnect" class="fb-btn" value="Login with Facebook" data-ajax="false" /></li>
                </ul>
            </form>
        </li>
        {% endif %}
        <li><a href="/events" data-ajax="false">Events</a></li>
        <li><a href="/deals/category/women" data-ajax="false">Women</a></li>
        <li><a href="/deals/category/men" data-ajax="false">Men</a></li>
        <li><a href="/deals/category/electronics" data-ajax="false">Electronics</a></li>
        <li><a href="/deals/category/home" data-ajax="false">Home</a></li>
        <li><a href="/deals/category/lifestyle" data-ajax="false">Lifestyle</a></li>
        <li><a href="/deals/category/jewelry" data-ajax="false">Jewelery</a></li>
        <li><a href="/deals/category/kids" data-ajax="false">Kids</a></li>
        <li><a href="/customer_service" data-ajax="false">Customer Service</a></li>
    </ul>
</div>