<!DOCTYPE html>
<html>
<head>
    <title>nomorerack</title>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/themes/nomorerack.min.css" />
    <link rel="stylesheet" href="/css/themes/jquery.mobile.icons.min.css" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.2/jquery.mobile.structure-1.4.2.min.css" />
    <link rel="stylesheet" href="/css/nomorerack-global.css" />

    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js"></script>

    <script src="/js/lib/jquery.touch-slider.js"></script>
    <script src="/js/lib/handlebars-v1.3.0.js"></script>
    <script src="/js/nmr-helpers.js"></script>
    <script src="/js/nmr-global.js"></script>
    <script src="/js/nmr-facebook.js"></script>
</head>
<body>
    <div id="fb-root"></div>

    {% block body %}{% endblock %}

    {% block scripts %}{% endblock %}

    <script type="text/javascript">
        $(document).on('pageinit', function() {
            NMR.init({{customer|json_encode()|raw}});
            NMR.Facebook.init({{facebook|json_encode()|raw}});
            {% block document_ready %}{% endblock %}
        });
    </script>
</body>
</html>
