{{#each events}}
<div class="event-row">
    <div class="event-title">
        <a href="{{url}}" >{{title}}</a>
    </div>
    <div class="event-image">
        <a href="{{url}}"><img src="{{image}}" alt="" border="0" /></a>
    </div>
</div>
{{/each}}