{% extends "layouts/default.html" %}

{% block scripts %}
<script src="/js/nmr/events.js"></script>
{% endblock %}

{% block document_ready %}
NMR.Events.init({{js_options|json_encode()|raw}});
{% endblock %}

{% block body %}
<div id="events-page" data-role="page">
    {% include 'partials/headers/main-header.html' %}
    {% include 'events/events-container.html' with {page_options: page_options} %}
    {% include 'partials/footer.html' %}
    {% include 'partials/slide-nav.html' %}
</div>
{% endblock %}