{% extends "layouts/default.html" %}

{% block scripts %}
<script src="/js/deals.js"></script>
{% endblock %}


{% block body %}

<div id="category-filter">

    <input type="search" name="search" id="search-basic" value="" data-mini="true" placeholder="Search Products" />

    <select name="category" data-mini="true">
        <option value="all">All Categories</option>
        <option value="women">Women</option>
        <option value="men">Men</option>
        <option value="electronics">Electronics</option>
        <option value="Home">Home</option>
        <option value="Lifestyle">Lifestyle</option>
        <option value="Jewelry">Jewelry</option>
        <option value="Kids">Kids</option>
    </select>
</div>

<div class="grid">
    {% for i in 0..29 %}
    <div class="grid-cell" data-item="{{ i }}">
        <div class="grid-image">&nbsp;</div>
        <div class="grid-desc">&nbsp;</div>
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block document_ready %}
NMR.Deals.init();
{% endblock %}