/* Header Styles */
/*************************************************************************/

.clearfix {
    height: 1px;
    clear:both;
}


#daily-deals .ui-panel-wrapper {

}

#header {
    background-image: url("/images/header/logo.jpg");
    background-repeat: no-repeat;
    background-size: 131px 39px;
    background-position: 50% -3px;
    height: 41px;
    border-top: 3px solid #8DC63F;
}

#header.ui-fixed-hidden {
    top: -1px;
    padding-top: 1px;
}

#header .ui-btn {
    background: transparent;
    border-color: transparent;
}

/* Search Styles */
/*************************************************************************/

#search-panel {
    height: 49px;
    background-color: rgb(78, 78, 78);
    position: fixed;
    left: 10px;
    right: 10px;
    z-index: 1000;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    top: -110px;
    transition: top .52s;
    padding: 5px 10px;
}

#search-panel.opened {
    top: 44px;
}

#search-panel.opened .ui-input-search {
    border-color: transparent;
    font-size: 15px;
    box-shadow: none;
}

#search-panel.opened .ui-input-search.ui-focus {

}

/* Category Filter Styles */
/*************************************************************************/

#category-filter {
    padding: 0 .3em;
}

#category-filter .ui-select > div {
    font-size: 1.1em;
    padding: .5em 1em;
}

#category-filter .ui-input-search.ui-focus,
#category-filter .ui-select > div.ui-focus {
    box-shadow: none;
}

/* Nav Panel Styles */
/*************************************************************************/
#nav-panel {
    background-color: #444444;
}

/* Basic settings */
#nav-panel .ui-li-static.ui-collapsible {
    padding: 0;
}
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-heading {
    margin: 0;
}
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    border-bottom-width: 0;
}
/* collapse vertical borders */
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-last-child,
#nav-panel .ui-li-static.ui-collapsible.ui-collapsible-collapsed > .ui-collapsible-heading > a.ui-btn {
    border-bottom-width: 0;
}
#nav-panel .ui-listview > li.ui-first-child{
    border-top-width: 0;
}
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li.ui-first-child > a.ui-btn,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn {
    border-top-width: 0;
}

#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a.ui-btn {
    border-bottom-width: 1px;
    border-bottom-color: #000;
    color: #f1f1f1;
}

/* Remove right borders */
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > .ui-li-static,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content > .ui-listview > li > a.ui-btn,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-right-width: 0;
}

#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content {
    padding: 0;
}

#nav-panel a.ui-btn,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn {
    background-color: #444;
    border-color: #383838;
    color: #f1f1f1;
    text-shadow: 0 0 0 #000;
    font-weight: normal;
}

#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content a.ui-btn {
    border-left: none;
    border-right: none;
    background-color: #333;
    padding-left: 25px;
}

/*.ui-panel-dismiss-open {*/
    /*box-shadow: -5px -1px 20px #000;*/
/*}*/


/* Remove left borders */
/* Here, we need class ui-listview-outer to identify the outermost listview */
#nav-panel .ui-listview-outer > .ui-li-static.ui-collapsible .ui-li-static.ui-collapsible.ui-collapsible,
#nav-panel .ui-listview-outer > .ui-li-static.ui-collapsible > .ui-collapsible-heading > a.ui-btn,
#nav-panel .ui-li-static.ui-collapsible > .ui-collapsible-content {
    border-left-width: 0;
}

/* Content Styles */
/*************************************************************************/
.banner {
    height: 2em;
    line-height: 2em;
    background-color: #8dc63f;
    color: white;
    font-weight: bold;
    text-shadow: none;
    padding: 0 1em;
}

/* Content Styles */
/*************************************************************************/

#content {
    padding: 0;
    background-color: #f0ede4;
}

#content.grid {
    padding: .2em;
}

/* Grid Styles */
/*************************************************************************/

.grid .grid-cell {
    background-color: white;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: inline-block;
    vertical-align: top;
    width: 152px;
    height: 272px;
    font-size: 12px;
    position: relative;
    margin-bottom: 6px;
}

.grid.one-col .grid-cell {
    width: 100%;
}

.grid.one-col .grid-image {
    width: auto;
    height: auto;
}

.grid .grid-cell > a {
    text-decoration: none;
}

.grid .grid-image {
    display: block;
    height: 152px;
    width: 152px;
    background: #EEEEEE;
    position: relative;
}

.grid .grid-image img {
    max-width: 152px;
    max-height: 152px;
    position: absolute;
}

.grid.one-col .grid-image img {
    max-width: none;
    max-height: none;
}

.grid .grid-image .btm-grad {
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0) 90%, rgba(255,255,255,1) 97%, rgba(255,255,255,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(90%,rgba(255,255,255,0)), color-stop(97%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 90%,rgba(255,255,255,1) 97%,rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );

    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.grid .grid-image .category {
    position: absolute;
    bottom: 0;
    left: 0;
    text-shadow: none;
    color: #333;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 10px;
}

.grid .grid-cell .grid-desc {
    padding: .2em .75em;
    background-color: #F7F7F7;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 114px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.grid .grid-cell .grid-desc > span {
    font-weight: normal;
    display: inline-block;
    vertical-align: top;
    background: #eee;
}

.grid .grid-cell .grid-desc .grid-title {
    text-align: left;
    font-weight: normal;
    font-size: 12px;
    color: #666;
    height: 45px;
    overflow: hidden;
    padding-top: .3em;
}
.grid .grid-cell .grid-desc button {
    padding: 0;
    padding: .4em;
    text-shadow: none;
    font-weight: normal;
}

.savings {
    width: 30px;
    background: #8dc63f;
    display: block;
    position: absolute;
    right: 0;
    bottom: -17px;
    z-index: 1;
    padding: .5em 0 .5em .6em;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: white;
    text-shadow: none;
}

.savings .save {
    display: block;
    text-transform: uppercase;
    font-size: .6em;
}

.savings .percent {
    display: block;
    font-size: 1em;
    font-weight: bold;
}

#content.grid.one-col .savings {
    top: 1em;
}

#content.detail-view-container .product-details {
    position: relative;
    min-height: 78px;
}

#content.detail-view-container .title {
    margin-right: 50px;
    padding: 0 .7em .7em .7em;
    font-size: .9em;
}
#content.detail-view-container .savings {
    top: 1em;
    bottom: inherit;
    width: 40px;
}

#content.detail-view-container .price-info {
    padding: .4em 0 0 .5em;
}

#content.detail-view-container .price-info span {
    display: inline-block;
    vertical-align: top;
}

#content.detail-view-container .price-info .our-price {
    font-size: 1.2em;
    font-weight: bold;
    color: #8dc63f;
    text-shadow: none;
}

#content.detail-view-container .price-info .retail {
    text-decoration: line-through;
    font-size: .8em;
    text-shadow: none;
    color: #999;
    margin-left: .3em;
    font-weight: normal;
}

.grid .grid-cell .price {
    color: #8dc63f;
    font-size: 14px;
    font-weight: bold;
}
.grid .grid-cell .retail {
    text-decoration: line-through;
    font-size: 11px;
    text-shadow: none;
    color: #999;
    margin-left: .3em;
    font-weight: normal;
}

/* PDP Image Carousel */
/********************************************/

#gallery-container {
    height: 270px;
    background: white;
    box-shadow: 0px 0px 2px rgba(0,0,0,.5);
}

#gallery-container div {
    display: block;
    height: 100%;
}

#gallery-container .gallery {
    width: 100%;
    overflow: hidden;
    height: 90%;
    position: relative;
}

#gallery-container .gallery div.holder {
    width: 100%;
    position: relative;
    overflow: hidden;
}

#gallery-container .gallery div.list {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 99999px;
    overflow: hidden;
}

#gallery-container .gallery div.item {
    float: left;
    min-width: 320px;
    vertical-align: middle;
}

#gallery-container .gallery figure {
    height: 100%;
    display: block;
    margin: 0;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
}

#gallery-container .gallery button {
    position: absolute;
    top: 0;
    width: 28px;
    height: 28px;
    overflow: hidden;
    border: none;
    background: transparent;
    box-shadow: none;
}
#gallery-container .gallery button:after {
    background-color: transparent;
}


#gallery-container .gallery button.prev {
    left: 0;
}

#gallery-container .gallery button.next {
    right: 0;
}

/* Add Item Label */
/***********************************************/

#add-item-form-holder .attr-holder {
    float: left;
    padding: .5em .8em;
    width: 45%;
}

#add-item-form-holder .attr-holder .ui-select > div.unselected:after,
#add-item-form-holder .add-item-btn-holder .ui-select > div.unselected:after {
    background-color: rgb(250, 202, 49);
}

#add-item-form-holder .attr-holder .ui-select > div > span {
    text-align: left;
}

#add-item-form-holder .add-item-btn-holder {
    float: left;
    padding: .5em 0;
}

.ui-btn.nmr-green {
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8dc63f), color-stop(1, #8cb82b) );
    background:-moz-linear-gradient( center top, #8dc63f 5%, #8cb82b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8dc63f', endColorstr='#8cb82b');
    background-color: #8dc63f;
    border-top-left-radius:6px;
    border-top-right-radius:6px;
    border-bottom-right-radius:6px;
    border-bottom-left-radius:6px;
    text-indent:0;
    border:1px solid #83c41a;
    display:inline-block;
    color:#ffffff !important;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    text-decoration:none;
    text-align:center;
    text-shadow: none;
}
.ui-btn.nmr-green:hover {
    text-shadow: none;
    box-shadow:inset 0px 1px 0px 0px #c1ed9c;
}

#add-item-form-holder .add-item-btn-holder > button {
    height: 4em;
}

#form-message {
    padding: .5em 1em;
    padding-bottom: 0;
    font-size: 1em;
    display: none;
}

#form-message.error {
    color: rgb(202, 72, 72);
    display: block;
}

#add-item-form-holder .add-item-btn-holder > button:after {
    background-color: transparent;
}

#add-item-form-holder label {
    line-height: 3em;
    text-align: right;
    padding-right: 1em;
}

/* Shopping Cart */
/***********************************************/

.cart-disclaimer {
    font-size: .8em;
    padding: .5em;
    text-shadow: none;
    background-color: ivory;
    border-bottom: 1px solid #ccc;
}

.cart-item {
    padding: .5em;
    position: relative;
    background-color: white;
    border-bottom: 1px solid #cccccc;
}

.cart-item .img-holder {
    float: left;
    width: 20%;
}

.cart-item .img-holder img {
    max-height: 100%;
    max-width: 100%;
}

.cart-item .item-summary {
    width: 74%;
    float: left;
    padding: .5em;
    font-size: .8em;
    text-shadow: none;
}

.cart-item .item-title {
    font-weight: bold;
}

.cart-item .item-summary .item-action {
    text-align: right;
}

.cart-item .item-summary .item-action > .ui-btn:after {
    background-color: rgb(216, 126, 126);
}

.empty-cart {
    display: none;
    background-image: url(/images/icons/shopping_cart.png);
    background-repeat: no-repeat;
    background-position: center 2em;
    background-size: 50%;
    height: 347px;
    position: relative;
}

.empty-cart h3 {
    text-align: center;
    color: #8dc63f;
}

.empty-cart-cta {
    position: absolute;
    bottom: 0;
    text-align: center;
    left: 0;
    right: 0;
    padding: 2em;
}

.empty-cart-cta a {
    display: block;
    margin: 1em 0;
    text-decoration: underline;
    font-weight: normal;
}

.checkout-secure {
    font-size: .8em;
    padding: .5em;
    text-shadow: none;
    background-color: white;
    border-bottom: 1px solid #ccc;
}

/* Redeem Code */
/***********************************************/
.checkout-form-holder {

}

.checkout-form-holder > div {
    float: left;
    padding: 0 .5em;
}

.checkout-form-holder > div:first-child {
    width: 56%;
    line-height: 3em;
    font-size: .8em;
}

.checkout-form-holder > div:last-child {
    width: 32%;
}

.checkout-form-holder > div:last-child:after {
    clear:both;
    content: "";
    height: 1px;
}

.checkout-form-holder > div:last-child > div {
    float: right;
}

.checkout-form-holder > div:last-child .ui-btn {
    width: 4em;
}

/* Confirm */
/***********************************************/
#confirm {
    background-color: #eee;
}

#confirm button {
    width: 6em;
}

.center-content {
    text-align: center;
}

/* Alert */
/***********************************************/

#alert button {
    width: 5em;
}

/* Footer */
/***********************************************/


#footer {
    background: #5f5f5f;
    box-shadow: 0px 1px 3px rgba(0,0,0,.8) inset;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 1em;
    text-shadow: none;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    font-size: .7em;
}
#footer ul li {
    line-height: 2em;
}

#footer a:link {
    color: #fff;
    font-size: 1em;
    text-decoration: none;
    font-weight: normal;
}

.summary-holder {
    padding: .5em;
    clear: both;
    background: white;
    border-top: 1px solid #ccc;
}

#cart-summary {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
}

#cart-summary tr td {
    padding: 0 .5em;
    line-height: 2em;
    border-bottom: 1px solid #eee;
}

#cart-summary tr td:first-child {
    width: 69%;
    border-right: 1px solid #eee;
}

#cart-summary tr td:last-child {
    text-align: right;
    padding-right: 1em;
}

#cart-summary tr:last-child td{
    border: none;
    font-weight: bold;
    text-align: right;
}

#cart-summary tr:last-child td:first-child {
    border-right: 1px solid #eee;
}

#cart-summary thead, #cart-summary tfoot {
    font-weight: bold;
}

.checkout-row {
    background-color: white;
    padding-left: 1em;
}

.checkout-row a {
    font-size: .8em;
    line-height: 4em;
}

.checkout-row > button {
    float: right;
    width: 9em;
    padding: .5em;
}

/* NMR Form */
/***********************************************/
#content.nmr-form {
    background-color: white;
}

#content.nmr-form h3 {
    padding: .3em 1em;
    margin: 0;
}

#content.nmr-form h4 {
    padding: .3em 1em;
    margin: 0;
    text-align: center;
}

#content.nmr-form .ui-field-contain {
    border: none;
    padding: .5em 1em;
}

