<div id="content" class="nmr-form ui-content">

    <h4>Please login or sign up to continue...</h4>

    <div data-role="fieldcontain">
        <input type="button" data-role="button" data-mini="true" value="Create New Account" />
        <a href="#login-popup" data-rel="popup">Already Have an Account? Log In.</a>
    </div>

    <div data-role="fieldcontain">
        <input type="button" data-role="button" data-mini="true" value="Login to Your Account" />
    </div>

    <!--<div data-role="fieldcontain">-->
        <!--<a href="#login-popup" data-rel="popup">Already Have an Account? Log In.</a>-->
    <!--</div>-->

    <div data-role="fieldcontain">
        <input type="button" data-role="button" data-mini="true" value="Login with Facebook" />
    </div>

</div>


<div id="login-popup" data-role="popup">
    {% include 'account/auth-form.html' with login_form %}
</div>