{% extends "layouts/default.html" %}

{% block scripts %}
<script src="/js/lib/jquery.infinite-scroll-helper.min.js"></script>
<script src="/js/nmr/deals.js"></script>
<script src="/js/nmr/deal-details.js"></script>
{% endblock %}

{% block document_ready %}
NMR.Deals.init({{js_options|json_encode()|raw}});
{% endblock %}

{% block body %}
<div id="deals" data-role="page">
    {% include 'partials/headers/main-header.html' %}
    {% include 'partials/search.html' %}
    {% include 'deals/deals-container.html' with {page_options: page_options} %}
    {% include 'partials/footer.html' %}
    {% include 'partials/slide-nav.html' %}
</div>
{% endblock %}