{% extends "layouts/default.html" %}

{% block scripts %}
<script src="/js/deals.js"></script>
<script src="/js/pdp.js"></script>
{% endblock %}

{% block document_ready %}
    NMR.Deals.init();
{% endblock %}

{% block body %}

<div id="deals" data-role="page">
    {% include 'partials/headers/main-header.html' %}
    <div id="deals-content" data-role="content" class="grid"></div>
    {% include 'partials/footer.html' %}
</div>

<div id="deal-view" data-role="page">
    {% include 'partials/headers/back-btn-header.html' %}
    <div id="deal-content" data-role="content"></div>
    {% include 'partials/footer.html' %}
</div>

{% include 'partials/deals/deal-cell.html' %}
{% include 'partials/deals/deal-view.html' %}

{% endblock %}