<div data-role="page">
    {% include 'partials/headers/main-header.html' %}
    <div data-role="content">
        <div class="product-details">
            <div class="price-info">
                <span class="our-price">Our Price ${{deal.price}}</span>
                <span class="retail"> Retail {{deal.retail}}</span>
            </div>
            <div class="savings">
                <span class="save">Save</span>
                <span class="percent">{{deal.savings}}</span>
            </div>
            <div class="title">{{deal.title}}</div>
        </div>

        <div id="gallery-container">
            <div class="gallery-holder">
                <div class="gallery">
                    <div class="holder">
                        <div class="list">
                            <div class="item"><figure><img class="gallery-image" src="{{deal.image}}" alt="" /></figure></div>
                            {% for i in 1..deal.image_count %}
                            <div class="item"><figure><img class="gallery-image" src="http://static3.nmr.allcdn.net/images/products/{{deal.product_id}}-{{i}}-rg.jpg" alt="" /></figure></div>
                            {% endfor %}
                        </div>
                    </div>
                    <button data-role="button" data-icon="arrow-l" data-mini="true" class="prev ui-alt-icon"></button>
                    <button data-role="button" data-icon="arrow-r" data-mini="true" class="next ui-alt-icon"></button>
                </div>
            </div>
        </div>

        <div id="add-item-form-holder">
            <div id="form-message"></div>
            <form id="add-item" method="post" action="/checkout">
                <div class="attr-holder">
                    {% for attr, attribute in deal.attributes %}
                    <select name="attribute[{{attr}}]" data-mini="true" data-icon="minus unselected">
                        <option value="">{{attr}}</option>
                        {% for option in attribute %}
                        <option value="{{option}}">{{attr}}: {{option}}</option>
                        {% endfor %}
                    </select>
                    {% endfor %}
                </div>
                <div class="add-item-btn-holder">
                    <select name="quantity" data-mini="true" data-icon="minus unselected">
                        <option value="">Quantity</option>
                        <option value="1">Quantity: 1</option>
                        <option value="2">Quantity: 2</option>
                        <option value="3">Quantity: 3</option>
                        <option value="4">Quantity: 4</option>
                        <option value="5">Quantity: 5</option>
                    </select>
                    <button data-role="button" data-icon="plus" data-iconpos="right" class="nmr-green">Add to Cart</button>
                </div>
            </form>
        </div>
    </div>
    {% include 'partials/footer.html' %}
</div>