{% extends "layouts/default.html" %}

{% block scripts %}
<script src="/js/nmr/deal-details.js"></script>
{% endblock %}

{% block document_ready %}
NMR.DealView.init({{js_options|json_encode|raw}});
{% endblock %}

{% block body %}

<div id="deal-detail" data-role="page" data-init="DealsView">
    {% include 'partials/headers/main-header.html' %}

    <div id="deal-content" data-role="content">
        <div class="product-details">
            <div class="price-info">
                <span class="our-price">Our Price ${{deal.price}}</span>
                <span class="retail"> Retail {{deal.retail}}</span>
            </div>
            <div class="savings">
                <span class="save">Save</span>
                <span class="percent">{{deal.savings}}%</span>
            </div>
            <div class="title">{{deal.name}}</div>
        </div>

        <div id="gallery-container">
            <div class="gallery-holder">
                <div class="gallery">
                    <div class="holder">
                        <div class="list">
                            <div class="item"><figure><img class="gallery-image" src="{{deal.image}}" alt="" /></figure></div>
                            {% for i in 1..deal.image_count %}
                            <div class="item"><figure><img class="gallery-image" src="http://static3.nmr.allcdn.net/images/products/{{deal.product_id}}-{{i}}-rg.jpg" alt="" /></figure></div>
                            {% endfor %}
                        </div>
                    </div>
                    <button data-role="button" data-icon="arrow-l" data-mini="true" class="prev ui-alt-icon"></button>
                    <button data-role="button" data-icon="arrow-r" data-mini="true" class="next ui-alt-icon"></button>
                </div>
            </div>
        </div>

        <div id="add-item-form-holder">
            <div id="form-message"{% if form.error != null %} class="error"{% endif %}>{% if form.error != null %}{{form.error}}{% endif %}</div>
            <form id="add-item" method="post" action="" data-ajax="false">
                <div class="attr-holder">

                    {% for attr, attribute in deal.attributes %}

                    <select name="attribute[{{attr}}]" data-mini="true" data-icon="{% if form.attribute[attr] == null %}minus unselected{% else %}check{% endif %}">
                        {% if attribute|length == 1 %}
                        <option value="{{attribute.0}}"selected>Item: {{attribute.0}}</option>
                        {% else %}
                        <option value="">{{attr}}</option>
                            {% for option in attribute %}
                        <option value="{{option}}">{{attr}}: {{option}}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                    {% endfor %}
                </div>
                <div class="add-item-btn-holder">
                    <select name="quantity" data-mini="true" data-icon="{% if form.quantity == null %}minus unselected{% else %}check{% endif %}">
                        <option value="">Quantity</option>
                        {% for i in 1..deal.max_order_quantity %}
                        <option value="{{i}}"{% if form.quantity == i %} selected{% endif %}>Quantity: {{i}}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" data-role="button" data-icon="plus" data-iconpos="right" class="nmr-green" value="Add to Cart" />
                    <input type="hidden" name="deal_item_id" value="{{deal.deal_item_id}}" />
                    <input type="hidden" name="product_id" value="{{deal.product_id}}" />
                </div>
            </form>
        </div>
    </div>
    {% include 'partials/footer.html' %}
    {% include 'partials/slide-nav.html' %}
</div>

{% endblock %}


