<tbody>
<tr>
    <td>Subtotal</td>
    <td>${{cart.sub_total}}</td>
</tr>
<tr>
    <td>Shipping</td>
    <td>${{cart.shipping}}</td>
</tr>
<tr>
    <td>Sales Tax</td>
    <td>${{cart.sales_tax}}</td>
</tr>
<tr>
    <td>Total</td>
    <td>${{cart.total}}</td>
</tr>
</tbody>